@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Bhai;
  src: url(../fonts/Baloo_Bhai/BalooBhai-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Ubuntu;
  src: url(../fonts/UbuntuMono-Regular.ttf) format("truetype");
}